*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/**box2**/

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 812px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
    width: 50px;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box4 */

.country{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 70px;
}

.select-country{
    background-color: #0f1111;
    color: white;
    border: none;
}

.country-icon{
    margin-top: 17px;
}

/* box5 */

span{
    font-size: 0.7rem;
}

.p2{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.nav-cart i{
    font-size: 30px;
}

.navbar{
    font-size: 0.85rem;
    font-weight: 700;
}

/* pannal */

.pannel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    font-size: 0.85rem;
}

.pannel-all a{
    display: inline;
}

.pannel-ops{
    margin-left: 13px;
}

.pannel-ops a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
}

/* hero-section */

.hero-section{
    background-image: url(https://m.media-amazon.com/images/I/71Ie3JXGfVL._SX3000_.jpg);
    background-size: cover;
    height: 253px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f0ece3;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 10px;
}

.box1-img img{
    width: 95%;
    height: 300px;
}

.box-content{
    margin-left: 15px;
    margin-top: 15px;
}

.box-content a{
    text-decoration: none;
    color: #007185;
}

/* pannel  */

footer{
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.foot-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

ul{
   margin-top: 40px; 
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid #DDDDDD;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px ;
}

.foot-pannel4{
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    height: 80px;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 3px;
}